.panel-block
    border-left: none
    border-right: none

.comment
    font-size: 12px
    font-style: italic
    color: black

.panel-block:first-child
    border-top: none

.is-paddingless-bottom
    padding-bottom: 0