<div class="columns is-marginless is-multiline">
    <div class="column is-paddingless-bottom">
        <div class="title is-5">Ιστορικό Λογαριασμών</div>
        <!-- <div class="control">
            <input class="input is-readonly is-small has-text-centered" [owlDateTimeTrigger]="dt1" [(ngModel)]="date.requestDate" [owlDateTime]="dt1" type="text"
                readonly>
            <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
        </div> -->
    </div>
    <div class="column is-paddingless">
        <div *ngFor="let b of bills;let i =index;let odd=odd">
            <div class="panel-block is-block" *ngIf="isNewDate(i)">
                <div class="is-italic has-text-centered is-size-7 has-text-weight-bold">{{b.paidDate | date: 'dd-MM-yyy'}}</div>
            </div>
            <div class="panel-block  is-block" [ngClass]="{'has-background-warning-light': odd}">
                <nav class="level is-mobile" [routerLink]="['/bill',b.id]">
                    <div class="level-left">
                        <div>
                            <div class="">{{b.category}}</div>
                            <div class="comment" *ngIf="b.comment">({{b.comment}})</div>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <span class="is-size-5">{{b.amount}} &euro;</span></div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>