<nav class="navbar is-primary">
  <div class="navbar-brand">
    <a class="navbar-item has-text-white" [routerLink]="['/home']" (click)="openmenu = false">
      <img [src]="'../../../assets/dollar.ico'">&nbsp;Money Tracker
    </a>
    <div class="navbar-burger burger" [ngClass]="{'is-active': openmenu}" (click)="openmenu = !openmenu" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu" [ngClass]="{'is-active': openmenu}">
    <div class="navbar-start">
    </div>
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-item bottom-border-item" [routerLink]="['/bill','new']" (click)="openmenu = false">
          <i class="fa fa-money"></i> Νέος Λογαριασμός
        </a>
        <a class="navbar-item bottom-border-item" [routerLink]="['/bills']" (click)="openmenu = false">
          <i class="fa fa-list"></i> Λογαριασμοί
        </a>
        <a class="navbar-item bottom-border-item" [routerLink]="['/category','new']" (click)="openmenu = false">
          <i class="fa fa-plus"></i> Νέα Κατηγορία
        </a>
        <a class="navbar-item bottom-border-item" [routerLink]="['/categories']" (click)="openmenu = false">
          <i class="fa fa-list"></i> Κατηγορίες
        </a>
        <a class="navbar-item bottom-border-item" (click)="logout()">
          <i class="fa fa-sign-out"></i> Αποσύνδεση
        </a>
      </div>
    </div>
  </div>
</nav>